<nav class="navbar">

  <div class="logo" routerLink="/">
    ✈ SkyBooker
  </div>

  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/flights">Flights</a></li>

    <!-- sirf login hone par dikhe -->
    <li *ngIf="isLoggedIn">
      <a routerLink="/my-bookings">My Bookings</a>
    </li>

    <a *ngIf="auth.isAdmin()" routerLink="/admin">Admin Panel</a>


    <a *ngIf="auth.isAdmin() || auth.isStaff()" routerLink="/add-seats">
      Add Seats
    </a>

    <a routerLink="/admin/airlines" *ngIf="auth.isAdmin()">
      Manage Airlines
    </a>
  </ul>

  <div class="auth-section">

    <ng-container *ngIf="!isLoggedIn">
      <button routerLink="/login" class="btn login">Login</button>
      <button routerLink="/register" class="btn register">Register</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <span class="user">👤 {{ username }}</span>
      <button (click)="logout()" class="btn logout">Logout</button>
    </ng-container>

  </div>

</nav>