<div class="auth-container">
  <div class="auth-box">
    <h2>Reset Password 🔐</h2>

    <!-- Email Section -->
    <div class="form-group">
      <input name="email" [(ngModel)]="email" placeholder="Enter Email" type="email" class="main-input" />
      <button type="button" class="otp-btn" (click)="sendOtp()" [disabled]="timer > 0">
        {{ otpSent ? 'Resend OTP (' + timer + 's)' : 'Send OTP' }}
      </button>
    </div>

    <!-- OTP Section -->
    <div class="otp-section">

  <p>Enter 6-Digit Code</p>

  <div class="otp-box">

    <input type="text" maxlength="1" class="otp-input"
      (input)="onOtpInput($event, 0)"
      (keydown)="onKeyDown($event, 0)" />

    <input type="text" maxlength="1" class="otp-input"
      (input)="onOtpInput($event, 1)"
      (keydown)="onKeyDown($event, 1)" />

    <input type="text" maxlength="1" class="otp-input"
      (input)="onOtpInput($event, 2)"
      (keydown)="onKeyDown($event, 2)" />

    <input type="text" maxlength="1" class="otp-input"
      (input)="onOtpInput($event, 3)"
      (keydown)="onKeyDown($event, 3)" />

    <input type="text" maxlength="1" class="otp-input"
      (input)="onOtpInput($event, 4)"
      (keydown)="onKeyDown($event, 4)" />

    <input type="text" maxlength="1" class="otp-input"
      (input)="onOtpInput($event, 5)"
      (keydown)="onKeyDown($event, 5)" />

  </div>

</div>

    <!-- Password Section -->
    <div class="password-section" *ngIf="otpSent">
      <input type="password" [(ngModel)]="newPassword" placeholder="New Password" class="main-input" />
      <button type="button" class="reset-btn" (click)="verifyOtp()">
        Verify & Reset
      </button>
    </div>
  </div>
</div>