<div class="container">

  <h2>✈ My Bookings</h2>

  <div *ngIf="loading" class="loading">
    Loading bookings...
  </div>

  <div *ngIf="!loading && bookings.length === 0" class="empty">
    No bookings found !
  </div>

  <div *ngFor="let b of bookings" class="ticket">

    <!-- LEFT SIDE -->
    <div class="left">

      <div class="header">
        <h3>BOARDING PASS</h3>
        <span>#{{ b.bookingId }}</span>
      </div>

      <div class="route">
        <h1>
          {{ flightMap[b.flightId]?.originAirportCode }}
          →
          {{ flightMap[b.flightId]?.destinationAirportCode }}
        </h1>
      </div>

      <p>🎫 PNR: <b>{{ b.pnrCode }}</b></p>

      <!--  FIXED SEATS -->
      <p>
        💺 Seats:
        <b>
          {{ b.seatNumbers?.length
              ? b.seatNumbers.join(', ')
              : b.seatNumber }}
        </b>
      </p>

      <p>🛫 Departure:
        <b>{{ flightMap[b.flightId]?.departureTime | date:'short' }}</b>
      </p>

      <p>🛬 Arrival:
        <b>{{ flightMap[b.flightId]?.arrivalTime | date:'short' }}</b>
      </p>

      <p>💰 Fare: ₹{{ b.totalFare }}</p>

      <p>
        Status:
        <span
          [class.confirmed]="b.status === 'CONFIRMED'"
          [class.cancelled]="b.status === 'CANCELLED'">
          {{ b.status }}
        </span>
      </p>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right">

      <div class="barcode">||| ||| |||| |||</div>

      <h4>Passengers</h4>

      <div *ngIf="getPassenger(b.bookingId) as p">

        <div *ngFor="let ps of p">

          <p><b>{{ ps.firstName }} {{ ps.lastName }}</b></p>
          <p>Passport: {{ ps.passportNumber }}</p>
          <p>Gender: {{ ps.gender }}</p>
          <p>Seat: {{ ps.seatNumber }}</p>

          <hr />

        </div>

      </div>

      <button
        *ngIf="b.status === 'CONFIRMED'"
        (click)="cancel(b.bookingId)"
        class="cancel-btn">
        Cancel
      </button>

      <span *ngIf="b.status === 'CANCELLED'" class="cancel-text">
        ❌ Cancelled
      </span>

    </div>

  </div>

</div>