<div class="payment-container">

  <h2>💳 Payment</h2>

  <div *ngIf="loading" class="loading">
    Loading payment details...
  </div>

  <div *ngIf="!loading && booking">

    <div class="payment-card">

      <!-- LEFT: Booking + Passenger -->
      <div class="left">

        <h3>✈ Booking Summary</h3>

        <p><b>Booking ID:</b> {{ bookingId }}</p>
        <p><b>PNR:</b> {{ booking.pnrCode }}</p>
        <p><b>Status:</b> {{ booking.status }}</p>
        <p><b>Seat:</b> {{ booking.seatNumber }}</p>

        <hr />

        <h3>👤 Passengers</h3>

<div *ngFor="let p of passengers">

  <p><b>Name:</b> {{ p.firstName }} {{ p.lastName }}</p>
  <p><b>Gender:</b> {{ p.gender }}</p>
  <p><b>Passport:</b> {{ p.passportNumber }}</p>
  <p><b>Seat:</b> {{ p.seatNumber }}</p>
  <p><b>Type:</b> {{ p.passengerType }}</p>

  <hr />

</div>

      <!-- RIGHT: Payment -->
      <div class="right">

        <div class="price-box">
          <p>Total Fare</p>
          <h1>₹{{ booking.totalFare }}</h1>
        </div>

        <button (click)="pay()">💳 Pay Now</button>

      </div>

    </div>

  </div>

</div>